*{
    box-sizing: border-box;


    font-family: 'K2D', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 96vh;
}

/* general layout */

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
}

div.container>div.sidebar{
    grid-column: 1;
    background-color: #1992d4;
}

div.container>article.right-side{
    grid-column: 2;
    background-color: #e2e8f0;
    display: grid;
    grid-template-rows: 150px 4fr;
}

div.container>article.right-side>nav{
    background-color: #ffffff;
    box-shadow: 1px 1px #cfd5dc;
}

/* end of general layout */


/* the side-bar styling */



div.container>div.sidebar{
    color: #ffffff;
    padding-left: 30px;
}
div.container>div.sidebar div.dashboard{
    display: flex;
    margin-bottom: 40px;
}
div.container>div.sidebar div.dashboard img{
    margin-left: -14px;
}
div.container>div.sidebar div.dashboard h1{
    padding: 0;
}

div.container>div.sidebar p{
    display: flex;
    align-items: center;
}

div.container>div.sidebar p>span{
    margin-left: 15px;
}

div.container>div.sidebar p>svg{
    width: 26px;
}

/* end of the side-bar styling */



/* layout of the nav side */



/* styling the upper side */
/* ################################################################################### */

article.right-side>nav svg {
    width: 20px;
}

article.right-side>nav>div.upper-side{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    padding-right: 1vw;
}


/* search section */
/* ######################################################### */



article.right-side>nav>div.upper-side div.search{
    flex: 1;
    display: flex;
    margin-right: 5vw;
}
article.right-side>nav>div.upper-side div.search input{
    flex: 1;
    border: 0;
    background-color: #e2e8f0;
    border-radius: 10px;
}

article.right-side>nav>div.upper-side div.search svg{
    margin-right: 10px;
}



/* ####################################################### */
/* end of search section */



/* account section */
/* ######################################################### */

article.right-side>nav>div.upper-side img{
    width: 36px;
    height: 50%;
    margin-right: 30px;
}

article.right-side>nav>div.upper-side div.account-name{
    color: #5f5f5f;
    font-weight: 600;
    display: flex;
    align-items: center;
}

article.right-side>nav>div.upper-side div.account{
    display: flex;

}
article.right-side>nav>div.upper-side div.account svg#notification-icon{
    margin-top: 0;
    margin-right: 4vw;
    margin-left: 0;
}

/* end of account section */
/* ########################################################## */




/* end styling the upper side */
/* ################################################################################################## */

/* styling the down-side */
/* ################################################################################################### */

nav>div.down-side{
    display: flex;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-top: 30px;
    margin-bottom: 20px;
}
nav>div.down-side div.greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    flex: 2;
}

nav>div.down-side div.greeting p , nav>div.down-side div.greeting h3{
    margin: 0;
}

nav>div.down-side div.greeting p {
    font-weight: 600;
}
nav>div.down-side>div.buttons{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>div.down-side>div.buttons button{
    background-color: #1992d4;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 30px;
    padding: 5px 20px;
}

/* end of styling the down-side */
/* ################################################################################################### */



/* end of layout of the nav side */




/* styling the articles  */
/* ################################################################################################################ */
article.right-side article.articles{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px 30px;
}

article.right-side article.articles>.projects div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 17px;
    margin-right: 20px;
}

article.right-side article.articles>.projects article{
    border-left: 10px solid #f0b429 ;
    padding: 20px 10px 20px;
    box-shadow: 2px 2px #e2e8f0;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
}

article.right-side article.articles>.announcements article{
    background-color: #ffffff;
    padding: 5px 20px ;
    box-shadow: 2px 2px #e2e8f0;
}

article.right-side article.articles>.announcements article.trending div.acc{
    display: flex;
}

article.right-side article.articles>.announcements article.trending img{
    border-radius: 1233px;
    width: 60px;
    /* height: 20px; */
}

div.info h3,div.info p{
    margin: 5px;
}

div.info p{
    font-size: 15px;
    color: #c5c5c5;
}

/* ################################################################################################################## */
/* end of  styling the articles  */